include ../modules/variables


doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= pageTitle
    link(rel="stylesheet", href="./css/style.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content
