- var pageTitle = 'Задать вопрос Digital Spectr'
- var formURL = "https://60376bfd5435040017722533.mockapi.io/form"

- var inputsAttr = []
-inputsAttr.push({type: 'text', name: 'name', placeholder: 'Фамилия Имя Отчество *'})
-inputsAttr.push({type: 'tel', name: 'phone', placeholder: 'Телефон *'})
-inputsAttr.push({type: 'email', name: 'email', placeholder: 'Email'})
